<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aadroles.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3fb6d3d6-a094-4693-b736-b2f32803246d/resourceGroups/AAD-Claims/providers/Microsoft.Web/sites/aadroles</ResourceId>
    <UserName>$aadroles</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://aadroles.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>